@import "tailwindcss";

@layer base {
  body {
    @apply m-0 p-0 overflow-hidden bg-pink-50 text-gray-900;
  }
}

@theme {
  --color-valentine-red: #ff4d6d;
  --color-valentine-pink: #ff8fa3;
  --color-valentine-light: #fff0f3;
}
